<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<% counta = 1 %>
<% @recipe.ingredients.each do |ingredient| %>
  <p>
    <strong>Ingredient<%= counta %>:</strong>
    <%= ingredient.food.name %>
    <span>
      <% if @foods_in_pantry.include?(ingredient) %>
        ある
      <% else %>
        ない
      <% end %>
    </span>
  </p>
  <% counta += 1 %>
<% end %>

<%= link_to '食材を使用', used_as_ingredient_recipe_path, method: :delete,
                        data: { confirm: "食材を消費して、マイパントリーから削除しますか？" } %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
