<div class="recipes">

  <h1><%= @recipe.name %></h1>

  <div class="recipes-ingredients">

    <p><strong>材料</strong></p>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.food.name %>
        <span>
          <% if @foods_in_pantry.include?(ingredient) %>
            <%= fa_icon("check", class: "fa-fw icon-green") %>
          <% else %>
            <%= fa_icon("times", class: "fa-fw icon-red") %>
          <% end %>
        </span>
      </li>
    <% end %>
  </div>

  <div class="recipes-action">
    <%= link_to '食材を使用', used_as_ingredient_recipe_path, method: :delete, class: "btn btn-primary",
                            data: { confirm: "食材を消費して、マイパントリーから削除しますか？" } %>
    <br>
    <%= link_to '戻る', :back %>
  </div>
</div>
