<div class="my-pantry">
  <h1>マイパントリー</h1>
  <% if @my_pantry.any? %>
    <ul class="storages-menu">
      <li class="storages-menu-nav">
        <%= link_to '全て削除', destroy_all_storages_path, method: :delete,
                                data: { confirm: '全ての食材を削除しますか?' } %>
      </li>
    </ul>
    <ul class="my-pantry-list">
      <% @my_pantry.each do |storage| %>
        <li class="my-pantry-list-item <%= storage.food.food_category.name_en %>">
          <%= storage.food.name %>
          <%= storage.remark %>
          <%= link_to 'メモを編集', edit_storage_path(storage) %>
          <%= link_to '食材を削除', storage, method: :delete, data: { confirm: '削除しますか?' } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>パントリーは空です</p>
  <% end %>
</div>
