<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @pantry.ingredient.name %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @pantry.remark %>
</p>

<%= link_to 'Edit', edit_pantry_path(@pantry) %> |
<%= link_to 'Back', pantries_path %>
